### Python Basics

In [2]:
1+2

3

Hello

#Hello

##Hello

###Hello

####Hello

In [4]:
4%2

0

#

In [5]:
4/2

2.0

In [6]:
5//2

2

In [7]:
5/2

2.5

In [8]:
5+3*2

11

In [9]:
(5+3)*2

16

In [10]:
type(4/2)

float

In [11]:
type(2)

int

In [12]:
type(2.0)

float

In [13]:
type('Divya')

str

In [14]:
type("Divya")

str

In [15]:
a=10
b=20
a+b

30

In [16]:
a=10
b=20
c=a+b

In [17]:
c

30

In [18]:
type(c)

int

In [19]:
2*3

6

In [20]:
2**3

8

In [21]:
True

True

In [22]:
False

False

In [23]:
True or False

True

In [24]:
True and False

False

In [25]:
not True

False

In [26]:
True not

SyntaxError: invalid syntax (<ipython-input-26-94be853f0806>, line 1)

In [27]:
True and True

True

In [28]:
type(True)

bool

In [29]:
a=True

In [30]:
a

True

In [31]:
a
type(a)

bool

In [32]:
True|False

True

In [34]:
True&False

False

In [13]:
print(True is True)
True is False

True

False

In [36]:
a=10
b=20
a+b>30

False

In [37]:
a+b>30 | a-b<10

True

In [38]:
a+b>30 or a-b<10

True

In [39]:
a+b>30 & a-b<10

False

In [40]:
a+b>30 and a-b<10

False

In [43]:
type('Hello')

str

In [44]:
s="Hello"
s

'Hello'

In [45]:
st='Hello'
st

'Hello'

In [46]:
str(1)

'1'

In [51]:
"""never do str='xxx'
Never use Reserved Keywords"""

"never do str='xxx'\nNever use Reserved Keywords"

In [52]:
#Shift + Tab for function descripion

In [53]:
str1="Divya is a good boy"

In [54]:
str1

'Divya is a good boy'

In [56]:
print(str1)

Divya is a good boy

In [57]:
a=10
a

10

In [58]:
print(a)

10

In [59]:
str1="A good boy"
str2="A bad boy"

In [60]:
print(str1),print(str2)

A good boy
A bad boy

(None, None)

In [61]:
print(str1)
print(str2)

A good boy
A bad boy

In [62]:
str1+str2

'A good boyA bad boy'

In [63]:
str1+" "+str2

'A good boy A bad boy'

In [66]:
str1+str(int(32))+str2

'A good boy32A bad boy'

In [68]:
name=input("Enter Your Name:\n")
print(name)

Enter Your Name:
Divyabrata Das Gupta
Divyabrata Das Gupta

In [69]:
a=input("Enter first number:\n")
b=input("Enter second number:\n")
c=a+b
print("Output is",c)

Enter first number:
23
Enter second number:
34
Output is 2334

In [72]:
a=float(input("Enter first number:\n"))
b=float(input("Enter second number:\n"))
c=a+b
c
print("Output is",c)
type(c)

Enter first number:
23
Enter second number:
34
Output is 57.0

float

In [75]:
first_name=input("What is you first name:")
last_name=input("What is you last name:")
print("Welcome to Ineuron course",first_name,last_name)

What is you first name:Divyabrata
What is you last name:Das Gupta
Welcome to Ineuron course Divyabrata Das Gupta

In [78]:
print("My first name is {} and last name is {}".format(first_name,last_name))
#{}-Place holder (empty) in python

My first name is Divyabrata and last name is Das Gupta

In [82]:
#Wrong
print("My first name is {} and last name is {}".format(last_name,first_name))
#Correct
print("My first name is {one} and last name is {two}".format(two=last_name,one=first_name))

My first name is Das Gupta and last name is Divyabrata
My first name is Divyabrata and last name is Das Gupta

### Variale Dynamic Typing

In [85]:
a=10.0
print(type(a))
a="hello"
print(type(a))

<class 'float'>
<class 'str'>

### Strong Typing

In [89]:
'Divya'+ str( 1)

'Divya1'

In [90]:
'Divya'+" "+str(1)

'Divya 1'

In [88]:
1+int('2')

3

In [91]:
1|2

3

In [92]:
1&2

0

In [93]:
3|4

7

In [94]:
3&4

0

In [95]:
2&4

0

In [96]:
2|4

6

In [97]:
2 or 4

2

In [98]:
4 or 2

4

In [99]:
2 and 4

4

In [101]:
print(4 and 2)

2

In [137]:
a=int(input("Enter 1:"))
b=int(input('Enter 2:'))
c=a-b
print(c)
if c<0:
    print('{} is a negative number'.format(c))
elif c==0:
    print('{} is zero'.format(c))
else:
    print('{} is a positive number'.format(c))

Enter 1:10
Enter 2:20
-10
-10 is a negative number

###
Data Structures
1. list
2. tuple
3. string
4. dictionary
5. sets

In [113]:
lst=[1,2,3,'Divyabrata','Das Gupta']

In [114]:
lst

[1, 2, 3, 'Divyabrata', 'Das Gupta']

In [115]:
lst[3]

'Divyabrata'

In [116]:
type(lst)

list

In [117]:
type(lst[0])

int

In [118]:
type(lst[3])

str

In [119]:
lst.append(4)

In [120]:
lst

[1, 2, 3, 'Divyabrata', 'Das Gupta', 4]

In [123]:
lst[2]='Ineuron'
lst[5]=3
lst

[1, 2, 'Ineuron', 'Divyabrata', 'Das Gupta', 3]

In [124]:
lst.count(3)

1

In [125]:
lst.count(4)

0

In [134]:
lst[3][0]

'D'

In [135]:
#String is immutable for its individual characters or elements
#Does not support item assignment

In [138]:
lst1=[0,'Divya']

In [139]:
lst1

[0, 'Divya']

In [140]:
lst1[1]=1

In [141]:
lst1

[0, 1]

In [142]:
a=str(123)

In [145]:
a[1]

'2'

In [148]:
lst.append(["hello","hello"])

In [149]:
lst

[1, 2, 'Ineuron', 'Divyabrata', 'Das Gupta', 3, ['hello', 'hello']]

In [150]:
lst.extend(["hello","hello"])
lst

[1,
 2,
 'Ineuron',
 'Divyabrata',
 'Das Gupta',
 3,
 ['hello', 'hello'],
 'hello',
 'hello']

In [152]:
if(True):
    print('hello')
    print(';')

hello
;

In [157]:
print("Hello","Hello",end='k')
print("Hello")

Hello HellokHello

In [163]:
for i in range(1,5):
    print("Hello",end='-')

Hello-Hello-Hello-Hello-

In [178]:
(str1*2)[12]

'g'

In [164]:
str1

'A good boy'

In [165]:
str2

'A bad boy'

In [166]:
str1 + str2

'A good boyA bad boy'

In [168]:
str1*2

'A good boyA good boy'

In [185]:
str1.count

In [186]:
len(str1)

10

In [187]:
256 is 256

True

In [188]:
257 is 257

True

In [189]:
a=257
b=257
a is b

False

In [190]:
type(a)

int

In [191]:
id(a)

2292179023216

In [192]:
id(b)

2292179025072

In [193]:
A=256
B=256
A is B

True

In [194]:
id(A)

140711197458800

In [195]:
id(B)

140711197458800

In [196]:
A=255
A is B

False

In [197]:
id(A)

140711197458768

In [198]:
id(B)

140711197458800

In [199]:
A=256
id(A)

140711197458800

In [3]:
j=1-2j
type(j)

complex

In [4]:
j

(1-2j)

In [5]:
print(j)

(1-2j)

In [6]:
j.real

1.0

In [8]:
j.imag

-2.0

In [9]:
type(j.real)

float

In [10]:
type(j.imag)

float

In [12]:
1+int('2')

3

In [18]:
i=1
if i is 1:
    print(i,"1")
elif i==1:
    print(i,"2")

1 1

In [19]:
l1=["hello",'a','b']
l2=[1,2,3]
l1+l2

['hello', 'a', 'b', 1, 2, 3]

In [27]:
l1.append(l2)

In [21]:
l1

['hello', 'a', 'b', [1, 2, 3]]

In [22]:
l1=["hello",'a','b']

In [31]:
l1.extend(l2)
l1

['hello', 'a', 'b', 1, 2, 3, [1, 2, 3], 1, 2, 3]

In [25]:
l=list('aeiou')
l

['a', 'e', 'i', 'o', 'u']

In [28]:
l1

['hello', 'a', 'b', 1, 2, 3, [1, 2, 3]]

In [32]:
l1

['hello', 'a', 'b', 1, 2, 3, [1, 2, 3], 1, 2, 3]

In [33]:
len(l1)

10

In [34]:
s='aeiou'
len(s)

5

In [36]:
s

'aeiou'

In [37]:
len(l1[0])

5

In [38]:
l1[0]

'hello'

In [43]:
lst=[9,8,3,4,5,2]
print(len(lst))
Sum=0
for i in lst:
    Sum=Sum+i
    print(Sum)
print(Sum)

6
9
17
20
24
29
31
31

In [50]:
%%time
SumE=0
SumO=0
lst=[1,3,4,6,7,8,9,2,3,4,5]
for i in lst:
    if(i%2==0):
        SumE=SumE+i
    else:
        SumO=SumO+i
print("Even Sum=",SumE,"\nOdd Sum=",SumO)

Even Sum= 24
Odd Sum= 28
Wall time: 0 ns

In [53]:
# '%%time' : provides time taken to execute given code

In [60]:
i=0
lst[6]=8
print(lst)
for i in lst:
    if(i==9):
        break
else:
    print("We did not get a 9. Executes when for loop fully executes without break")

[1, 3, 4, 6, 7, 8, 8, 2, 3, 4, 5]
We did not get a 9. Executes when for loop fully executes without break

In [61]:
n=2
for i in range(2,n):
    if(n%2==0):
        break
else:
    print("prime")

prime

In [68]:
for i in range(1,9):
    print(i,end='\t')

1	2	3	4	5	6	7	8

In [85]:
%%time
SumE=0
SumO=0
lst=[1,3,4,6,7,8,9,2,3,4,5]
lst=list(range(1,8))
for i in lst:
    if(i%2==0):
        SumE=SumE+i
    else:
        SumO=SumO+i
    if (SumE>30)|(SumO>30):
        break
else:
    print("Neither of them are greater than 30")
    print("Even Sum=",SumE,"\nOdd Sum=",SumO)

Neither of them are greater than 30
Even Sum= 12
Odd Sum= 16
Wall time: 0 ns

In [1]:
n=10
i=1
Sum=0
for i in range(1,n+1):
    Sum=Sum+i
print("for loop Sum: ",Sum)
Sum=0
i=1
while i<=n:
    Sum=Sum+i
    i=i+1
print("while loop Sum: ",Sum)

for loop Sum:  55
while loop Sum:  55

In [7]:
SumE=0
SumO=0
n=10
i=1
while i<=n:
    if(i%2==0):
        SumE=SumE+i
    else:
        SumO=SumO+i
    i=i+1
print("Even Sum: ",SumE)
print("Odd Sum: ",SumO)

Even Sum:  30
Odd Sum:  25

In [6]:
list(range(4,50,2))

[4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [8]:
#Sum of the first 100 odd numbers
sum(range(1,100,2))

2500

In [9]:
sum(range(2,101,2))

2550

In [13]:
list(range(100,-1,-2))

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2,
 0]

In [18]:
for i in 'aeinou':
    if i=='n':
        continue
    if i!='u':
        print(i,end=',')
    else:
        print(i,end='\n...The End...')

a,e,i,o,u
...The End...

In [21]:
print("I'm Divya.",'I said "I am Divya"')
"I'm Divya.",'I said "I am Divya"'

I'm Divya. I said "I am Divya"

("I'm Divya.", 'I said "I am Divya"')

In [28]:
#Slicing of string or string indexing
s='Divyabrata Das Gupta'
print(s[:])
print(s[11:])
print(s[:10])
print(s[:5])
print(s[5:10])
print(s[11:14])
print(s[15:])

Divyabrata Das Gupta
Das Gupta
Divyabrata
Divya
brata
Das
Gupta

In [30]:
print(s[-5])

G

In [32]:
s[::-2]

'apGsDaabyi'

In [35]:
s[::-2]

'apGsDaabyi'

In [40]:
s[0::3]

'DyraaGt'

In [44]:
#for string functions s. + tab
s.split(sep='a')

['Divy', 'br', 't', ' D', 's Gupt', '']

In [45]:
s.count('a')

5

In [53]:
s.find('a',5)

7

In [58]:
s.center(30,'$')

'$$$$$Divyabrata Das Gupta$$$$$'

In [59]:
len(s)

20

In [62]:
'hello\tworld'.expandtabs()

'hello   world'

In [74]:
s='123'
s.isnumeric()

True

In [69]:
s='Divyabrata Das Gupta'
s.split('D')

['', 'ivyabrata ', 'as Gupta']

In [70]:
s.partition('D')

('', 'D', 'ivyabrata Das Gupta')

In [5]:
s='chinmay'
print(s[4:1:-1])
print(s[-3:-6:-1])

mni
mni

In [2]:
lst=[1,2,3,4]
lstd=[]
for i in lst:
    lstd.append(i**2)
print(lstd)

[1, 4, 9, 16]

In [7]:
#list comprehension
print([i**2 for i in lst])
type([i**2 for i in lst])

[1, 4, 9, 16]

list

In [5]:
#Sum of even numbers inside a list or collection
lst=[1,2,3,4,5,6,7,8,9,10]
k=sum([i for i in lst if i%2==0])
k
#sum(lst)

30

In [22]:
t=(1,2,3)
type(t)

tuple

In [3]:
t=tuple([1,2,3,4,'Divya'])

In [28]:
t[4]

'Divya'

In [29]:
t[2:]

(3, 4, 'Divya')

In [30]:
t[:-1]

(1, 2, 3, 4)

In [37]:
#String and tuple both are immutable

In [4]:
l=['Divyabrata','Das','Gupta']
[i[::-1] for i in l][::-1]

['atpuG', 'saD', 'atarbayviD']

In [44]:
t

(1, 2, 3, 4, 'Divya')

In [45]:
t.index(2)

1

In [46]:
t.count('Divya')

1

In [5]:
len(t)

5

In [7]:
#for adding elements to tuple (no other way)
lt=list(t)
lt.append('Das Gupta')
t=tuple(lt)
t

(1, 2, 3, 4, 'Divya', 'Das Gupta', 'Das Gupta')

In [9]:
x=set()
type(x)

set

In [15]:
x.add(3)
x

{3}

In [16]:
type(x)

set

In [17]:
type({1,2,3,4})

set

In [20]:
#Set is a collenction of unique elements
{1,2,2,3,4,5,5,5,5,5,5}

{1, 2, 3, 4, 5}

In [21]:
type({})

dict

In [22]:
type({1})

set

In [23]:
type({'1':1})

dict

In [24]:
x1={1,2,3,4,5}
x2={2,3,4,5,6,7}

In [25]:
x1.add(6)

In [26]:
x1

{1, 2, 3, 4, 5, 6}

In [27]:
x1.clear()

In [28]:
x1

set()

In [29]:
x1={1,2,3,4,5,6}

In [30]:
x1.add('Divya')

In [31]:
x1

{1, 2, 3, 4, 5, 6, 'Divya'}

In [33]:
x1.clear()
x1={1,2,3,4,5,6}
x1

{1, 2, 3, 4, 5, 6}

In [34]:
x1.union(x2)

{1, 2, 3, 4, 5, 6, 7}

In [35]:
x1.intersection(x2)

{2, 3, 4, 5, 6}

In [42]:
#x1-x2
x1.difference_update(x2)
x1

{1}

In [121]:
%%time
def sumTill(i):
    if(i>0):
        return i+sumTill(i-1)
    else:
        return 0
sumTill(966)

Wall time: 0 ns

467061

In [120]:
%%time
sum=0
for i in range(967):
    sum+=i
sum

Wall time: 0 ns

467061

In [44]:
#x2-x1
x2.difference(x1)

{2, 3, 4, 5, 6, 7}

In [51]:
x1={3,4,5}
x2={1,2,3,4,5,6,7}
x1.issubset(x2)

True

In [52]:
x2.issuperset(x1)

True

In [47]:
#sets are not indexed/ subscripltable 
#cannot be traversed using indexes like list
x1[1]

TypeError: 'set' object is not subscriptable

In [57]:
x1.symmetric_difference(x2)
#x1-x2 union x2-x1

{1, 2, 6, 7}

In [82]:
d={1:'Divyabrata',2:'Das',3:'Gupta'}
d

{1: 'Divyabrata', 2: 'Das', 3: 'Gupta'}

In [61]:
type(d)

dict

In [62]:
d.items

In [66]:
d.items()

dict_items([(1, 'Divya'), (2, 'Das'), (3, 'Gupta')])

In [70]:
print(d.items()[0])
#dictionary also not subscripltable also

TypeError: 'dict_items' object is not subscriptable

In [69]:
d.keys()

dict_keys([1, 2, 3])

In [71]:
d.keys()[0]

TypeError: 'dict_keys' object is not subscriptable

In [73]:
#convert to list for traversing
list(d.keys())[0]

1

In [76]:
#duplicate keys lead to replacing
d1={1:'1',2:'2',1:'3'}
d1

{1: '3', 2: '2'}

In [83]:
print(d[1],d[2],d[3])

Divyabrata Das Gupta

In [88]:
my_dict={'key1':[1,2,3],'key2':123,'key3':['1','2','3']}
my_dict

{'key1': [1, 2, 3], 'key2': 123, 'key3': ['1', '2', '3']}

In [89]:
my_dict['key3'][1]

'2'

In [90]:
my_dict['key1'][1]

2

In [91]:
my_dict={'key1':[1,2,3],'key2':123,'key3':['item1','item2','item3']}
my_dict['key3'][1].upper()

'ITEM2'

In [92]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [93]:
#Dictionary values are mutable
my_dict['key2']-=123
my_dict

{'key1': [1, 2, 3], 'key2': 0, 'key3': ['item1', 'item2', 'item3']}

In [95]:
my_dict['key4']=123
my_dict

{'key1': [1, 2, 3],
 'key2': 0,
 'key3': ['item1', 'item2', 'item3'],
 'key4': 123}

In [101]:
#Nested Dictionary
d2={'key1':{'nestkey':{'subnestkey':'Divyabrata Das Gupta'}}}
d2

{'key1': {'nestkey': {'subnestkey': 'Divyabrata Das Gupta'}}}

In [103]:
d2['key1']

{'nestkey': {'subnestkey': 'Divyabrata Das Gupta'}}

In [104]:
d2['key1']['nestkey']

{'subnestkey': 'Divyabrata Das Gupta'}

In [105]:
d2['key1']['nestkey']['subnestkey']

'Divyabrata Das Gupta'

In [108]:
type(d2['key1']['nestkey']['subnestkey'])

str

In [125]:
#Dictionary Comprehensions
{str(x):x**2 for x in range(10)}

{'0': 0,
 '1': 1,
 '2': 4,
 '3': 9,
 '4': 16,
 '5': 25,
 '6': 36,
 '7': 49,
 '8': 64,
 '9': 81}

In [129]:
#Function
def greeting():
    print("Hello. Welcome to INeuron!")

In [130]:
greeting()
greeting()
greeting()

Hello. Welcome to INeuron!
Hello. Welcome to INeuron!
Hello. Welcome to INeuron!

In [131]:
#reusing. making code modular. changes in one place easily reflected in many
#other places

In [4]:
#Sum of all even numbers function
def Sum(lst):
    even_sum=sum([i for i in lst if i%2==0])
    odd_sum=sum([i for i in lst if i%2!=0])
    """for i in lst:
        if i%2==0:
            even_sum+=i
        else:
            odd_sum+=i"""
    return even_sum,odd_sum
val1,val2=(Sum([1,2,3,4,5,6,7,8,9,10]))
print(val1,val2)

30 25

In [13]:
def sumList(lst1,lst2):
    lst3=[]
    for i in range(min(len(lst1),len(lst2))):
        lst3.append(lst1[i]+lst2[i])
    return lst3

lst1=[2,3,4,5,6,7]
lst2=[6,7,8,9,3,4]
sumList(lst1,lst2)

[8, 10, 12, 14, 9, 11]

In [25]:
lst=list(input("Enter:"))
for i in range(len(lst)):
    lst[i]=int(lst[i])
lst*2

Enter:123456

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [11]:
lst.pop()

'6'

In [12]:
lst

['1', '2', '3', '4', '5']

In [6]:
x={2,1,5,3,4}
x.pop()

1

In [14]:
x

{2, 3, 4, 5}

In [10]:
#Iterators and Generators:
#list is iterable  and mutable
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [15]:
#string is iterable and immutable
for i in 'Divyabrata Das Gupta':
    print(i,end='')

Divyabrata Das Gupta

In [16]:
#tuples are iterable and immutable
for i in ('Divya',1,2,3,4):
    print(i,end='')

Divya1234

In [18]:
#Iterator
#Can be created in an iterable object
a=iter([1,2,3,4,5])
a
#a is list iterator stored at some memory location

In [20]:
#Lazy Evaluation
#an object(iterator) will not load its elements or values till its called
next(a)

1

In [21]:
next(a)

2

In [22]:
print(next(a))
print(next(a))
print(next(a))

3
4
5

In [23]:
print(next(a))

StopIteration:

In [24]:
#Once value obtained its is lost
#but it saves memory storing huge data structures and which can be accessed 
#and values can be traversed one at a time

In [25]:
a=iter([1,2,3,4,5])
for i in a:
    print(i)

1
2
3
4
5

In [101]:
l=[1,2,3,4,5]
a=iter(l)
for i in a:
    i=9
    print(i)
print(l)

9
9
9
9
9
[1, 2, 3, 4, 5]

In [27]:
#list iterator object is not indexable. no a[1]. Error
a[1]

TypeError: 'list_iterator' object is not subscriptable

In [28]:
#Generator function for the cube of numbers
def genCubes(n):
    for num in range(n):
        yield num**3
        print("Yield is the keyword for generator. Like iterator stores")

In [34]:
a1=genCubes(5)

In [35]:
#also lazy evaluation
next(a1)

0

In [36]:
for i in a1:
    print(i)

Yield is the keyword for generator. Like iterator stores
1
Yield is the keyword for generator. Like iterator stores
8
Yield is the keyword for generator. Like iterator stores
27
Yield is the keyword for generator. Like iterator stores
64
Yield is the keyword for generator. Like iterator stores

In [37]:
next(a1)

StopIteration:

In [39]:
a1
#Generstor object

In [45]:
def genCubes1(n):
    for num in range(n):
        print("First Statement",num)
        yield num**3
        print("Second Statement",num)

In [46]:
a2=genCubes1(5)

In [47]:
next(a2)

First Statement 0

0

In [48]:
next(a2)

Second Statement 0
First Statement 1

1

In [49]:
for i in a2:
    print(i)

Second Statement 1
First Statement 2
8
Second Statement 2
First Statement 3
27
Second Statement 3
First Statement 4
64
Second Statement 4

In [50]:
def genFib(n):
    a=0
    b=1
    for i in range(n):
        yield a
        a,b=b,a+b

In [51]:
a3=genFib(10)
for i in a3:
    print(i)

0
1
1
2
3
5
8
13
21
34

In [53]:
def genFib1(n):
    ans=[]
    a=0
    b=1
    for i in range(n):
        ans.append(a)
        a,b=b,a+b
    return ans

In [54]:
a4=iter(genFib1(10))
for i in a4:
    print(i)

0
1
1
2
3
5
8
13
21
34

In [55]:
next(a4)

StopIteration:

In [57]:
#for loop internally handles the errors of fininshed generator or iterator
#objects getting finished
for i in a4:
    print(a4)

In [106]:
#Mapping
def sq_num(x):
    return x**2

In [107]:
sq_num(5)

25

In [60]:
#for the above function to be for list
sq_num([1,2,3,4,5])

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [108]:
#Correct way for to be applied to a list
a=map(sq_num,list(range(1,11)))
a
#Map object a some specific location

In [109]:
list(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [110]:
a=list(map(sq_num,list(range(1,11))))
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [114]:
a=iter(map(sq_num,list(range(1,11))))
for i in a:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [115]:
a=map(sq_num,list(range(1,11)))
for i in a:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [120]:
def test():
    yield map(sq_num,list(range(1,11)))
a=test()
next(next(a))

1

In [127]:
def test():
    k=iter(range(2,11))
    for i in k:
        yield map(sq_num,list(range(1,i)))
a=test()
for j in a:
    for i in j:
        print(i,end=' ')
    print()

1
1 4
1 4 9
1 4 9 16
1 4 9 16 25
1 4 9 16 25 36
1 4 9 16 25 36 49
1 4 9 16 25 36 49 64
1 4 9 16 25 36 49 64 81

In [123]:
next(a)

StopIteration:

In [68]:
#Lambda function is a function without any function name
#also called anonymous functions
#for functions with one line code like returning sum or sq
#its very very fast as compared to a function
list(map(lambda x:x*x,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [71]:
set(map(lambda x:x*x,(1,2,3,4,5)))

{1, 4, 9, 16, 25}

In [72]:
a=lambda x:x*x

In [73]:
a(5)

25

In [74]:
a=lambda x,y: x*y

In [78]:
a(99/2,8/99)

4.0

In [82]:
#reduce
max_find=lambda a,b: a if a>b else b
max_find(2,3)

3

In [84]:
from functools import reduce
reduce(max_find,[2,4,1000,5,7,99])

1000

In [85]:
a=lambda x,y: x+y
reduce(a,[1,2,3])

6

In [91]:
list(map(a,[1,2],[3,4]))

[4, 6]

In [98]:
#filter
list(filter(lambda x: x%2==0,[1,2,3,4,5]))

[2, 4]

In [99]:
list(map(lambda x: x%2==0,[1,2,3,4,5]))

[False, True, False, True, False]

In [129]:
set(filter(lambda x: x%2==0,{1,2,3,4,5}))

{2, 4}

In [130]:
def func(n):
    if n%2==0
list(filter(func,[1,2,3,4,5]))

[2, 4]

In [139]:
def func(lst):
    for i in lst:
        if(i%2==0):
            return i+1
        else:
            return 0
list(filter(func,[[1,2,3,4,5],[1,2,3,4,5]]))

[]

In [142]:
list(reduce(func,[[1,2,3,4,5]]))

[1, 2, 3, 4, 5]

In [144]:
list(map(lambda x,y: x+y,[1,2,3,4,5],[1,2,3,4,5]))

[2, 4, 6, 8, 10]

In [145]:
list(reduce(lambda x,y: x+y,[1,2,3,4,5],[1,2,3,4,5]))

TypeError: can only concatenate list (not "int") to list

In [153]:
reduce(lambda x,y: x+y,[1,2,3,4,5])

15

In [5]:
list((1,2))

[1, 2]

In [2]:
type([1])

list

In [7]:
sq=lambda x:x**2
prod=lambda  f,n:lambda x:f(x)*n
ans=prod(sq,2)(10)
ans

200